.jumbotron {
    background-color: #f1f8fa;
    border-radius: 5px;
    padding: 40px;

    &__title{
        font-weight: 600;
    }

    &__paragraph{
        font-weight: 300;
        font-size: 18px;
    }
}